<h2>Öne Çıkan Tarifler</h2>
<div class="recipe-cards">
    {% for tarif in tarifler %}
    <div class="recipe-card">
        <div class="card-top">
           <img src="{{ url_for('static', filename='uploads/' + tarif[1]|lower|replace(' ', '-') + '.png') }}"
                    alt="{{ tarif[1] }}"
                    style="width:100%; height:150px; object-fit:cover;">

            <div class="time-badge">Süre Yok</div>
        </div>
        <div class="card-content">
            <span class="difficulty">Kategori: {{ tarif[2] }}</span>
            <h3>{{ tarif[1] }}</h3>
            <p>{{ tarif[4].split(',')|length }} malzeme</p>
            <div class="card-footer">
                <span>Bölge: {{ tarif[3] }}</span>
               <a href="{{ url_for('tarif_detay', tarif_id=tarif[0]) }}">Tarifi Gör →</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
